body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020c1b;
  color: #ccd6f6;
  font-family: 'Noto Sans SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}